[submodule "compiler/dmd"]
	path = compiler/dmd
	url = git@github.com:epslon-dlang/dmd.git
[submodule "compiler/phobos"]
	path = compiler/phobos
	url = git@github.com:dlang/phobos.git
[submodule "compiler/druntime"]
	path = compiler/druntime
	url = git@github.com:dlang/druntime.git
